.container {
    display: block;
}

/* Menu*/
.menu-sidebar {
    gap: 20px;
    padding: 10px;
    display: flex;
    margin-left: 5%;
    align-items: center;
    justify-content: left;
}
.sidebar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    margin: 0;
}
.sidebar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #333;
    transition: color 0.3s;
    padding: 5px 10px;
}
.sidebar ul li a:hover {
    color: #000;
}

.info{
    display: flex;
}
/* About */
.about {
    width: 35%;
    padding: 10px;
    line-height: 1.6;
    font-size: 1.1rem;
    text-align: justify;
}
.about h1, .about h2 {
    text-align: center;
    margin-bottom: 20px;
}
.objectif{
    margin-top: 20px;
}

/* Compétences */
.competence {
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
}
.competence h1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}
.skills{
    display: flex;
    gap: 40px;
}
.skills-category h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: left;
}
.skills-category ul {
    list-style: none;
    line-height: 1.8;
    padding: 0;
    margin: 0;
    width: 100%;
}
.skill-item {
    display: flex;
    align-items: center;
    padding: 10px;
    transition: transform 0.2s;
}
.skill-item:hover {
    transform: scale(1.05);
}
.skill-item i {
    font-size: 1.5rem;
    margin-right: 10px;
}
.skill-item span {
    font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
    body {
        height: 100%;
        overflow: visible;
    }
    .container {
        display: flex;
        overflow: visible;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 15px;
        padding: 20px;
    }
    .about {
        width: 90%;
        margin-bottom: 20px;
    }
    .propos{
        margin-bottom: 20px;
    }
    .competence {
        grid-template-columns: 1fr;
    }
    .competence h1 {
        font-size: 1.8rem;
    }
    .skills-category,
    .skills-category:last-child {
        grid-column: span 1;
    }
    .skill-item {
        font-size: 0.9rem;
    }
    .menu-sidebar {
        gap: 10px;
        padding: 10px;
        margin-top: -10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


